[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/ivantishchenko/hugo-academic.git
[submodule "public"]
	path = public
	url = git@github.com:ivantishchenko/ivantishchenko.github.io.git
	branch = master
